/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family: sans-serif;
  font-size: 32px
}
#title {
  color: orange;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px; /* Optional: adds space between images */
}
.image-grid img {
  width: 100%;
}
